.register-form {
  max-width:400px;
  min-width: 400px; 
}
/*.register-form .datechoose {
  width: 233.328 px;
  border: 2px;
  border-color: black;
  border-radius: 5px;
  line-height: 32px;
}*/
/*.icp-selector {
  width: 60px;
}*/